# +------------------------+
# |        Proxy           |
# +------------------------+
# 按需填写本地代理地址，不需要时注释掉
# http_proxy="http://127.0.0.1:1080"
# https_proxy="http://127.0.0.1:1080"


# +------------------------+
# |        Token           |
# +------------------------+
# https://bgm.tv
BGM_ACCESS_TOKEN=""
# https://www.cnblogs.com
CNBLOG_ACCESS_TOKEN=""
# https://www.v2ex.com/settings/tokens
# 180 天有效期
V2EX_ACCESS_TOKEN=""
# https://github.com/settings/tokens
GITHUB_TOKEN=""

# 可选：twitter 验活所需，缺省时会从 cookies.txt 的 ct0 / twid 推导
# TWITTER_CSRF_TOKEN=""
# TWITTER_USER_ID=""


# +------------------------+
# |        Cookies         |
# +------------------------+
# Netscape 格式 cookies.txt 的文件路径（qireader/v2ex/zhihu/weibo/bilibili/twitter 共用）
# 也可通过 CLI 顶层参数 --cookies-file 显式传入
COOKIES=""

